{{- $alt := .PlainText -}}
{{- $resource := false -}}
{{- $lazyLoading := true -}}
{{- if ne .Page.Site.Params.enableImageLazyLoading nil -}}
  {{- $lazyLoading = .Page.Site.Params.enableImageLazyLoading -}}
{{- end -}}
{{- $enableImageZoom := .Page.Site.Params.imageZoom.enable | default false -}}
{{- if not (eq .Page.Params.imageZoom nil) -}}
  {{- $enableImageZoom = .Page.Params.imageZoom -}}
{{- end -}}
{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}

{{- $isLocal := and (not $url.Scheme) (not $url.Host) -}}
{{- $isPage := and (eq .Page.Kind "page") (not .Page.BundleType) -}}
{{- $startsWithSlash := hasPrefix $dest "/" -}}
{{- $startsWithRelative := hasPrefix $dest "../" -}}

{{- if and $dest $isLocal -}}
  {{- if $startsWithSlash -}}
    {{- with or (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
      {{/* Images under assets directory */}}
      {{- $resource = . -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{/* Images under static directory */}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- else -}}
    {{/* Resolve page bundle resource for multilingual permalink */}}
    {{- with .PageInner.Resources.Get (strings.TrimPrefix "./" $url.Path) -}}
      {{- $resource = . -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{- if and $isPage (not $startsWithRelative) -}}
        {{ $dest = (printf "../%s" $dest) }}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $dimensions := "" -}}
{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $srcset := slice -}}
{{- if and $resource (eq $resource.ResourceType "image") -}}
  {{- if in (slice "jpeg" "png" "webp" "gif") $resource.MediaType.SubType -}}
    {{- $width = $resource.Width -}}
    {{- $height = $resource.Height -}}
    {{- $dimensions = printf "width=%q height=%q" (string $resource.Width) (string $resource.Height) -}}
    {{- if in (slice "jpeg" "png" "webp") $resource.MediaType.SubType -}}
      {{- range slice 480 960 1440 -}}
        {{- if lt . $resource.Width -}}
          {{- $resized := $resource.Resize (printf "%dx webp q85" .) -}}
          {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $resized.Width) -}}
        {{- end -}}
      {{- end -}}
      {{- $srcset = $srcset | append (printf "%s %dw" $dest $resource.Width) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- /* SVG dimensions may be supplied by the shortcode; raster metadata wins. */ -}}
{{- if and (eq $width 0) .Attributes.width .Attributes.height -}}
  {{- $width = int .Attributes.width -}}
  {{- $height = int .Attributes.height -}}
  {{- if and (gt $width 0) (gt $height 0) -}}
    {{- $dimensions = printf "width=%q height=%q" (string $width) (string $height) -}}
  {{- end -}}
{{- end -}}
{{- /* With CSS width:auto, lazy images can collapse before their first decode.
  Opt in to a known width and ratio so deep links retain their initial position. */ -}}
{{- if and (.Page.Params.reserveFigureSpace | default false) (gt $width 0) (gt $height 0) -}}
  {{- $dimensions = printf "%s style=%q" $dimensions (printf "width: 100%%; aspect-ratio: %d / %d" $width $height) -}}
{{- end -}}
{{- $attributes := "" -}}
{{- range $key, $value := .Attributes -}}
  {{- if and $value (not (in (slice "width" "height" "src" "srcset" "alt" "loading" "decoding") $key)) -}}
    {{- $pair := printf "%s=%q" $key ($value | transform.HTMLEscape) -}}
    {{- $attributes = printf "%s %s" $attributes $pair -}}
  {{- end -}}
{{- end -}}

{{- if $enableImageZoom -}}
  {{- .Page.Store.Set "hasImageZoom" true -}}
{{- end -}}

{{- with .Title -}}
  <figure>
    <img src="{{ $dest | safeURL }}" title="{{ . }}" alt="{{ $alt }}" {{ $dimensions | safeHTMLAttr }} {{ $attributes | safeHTMLAttr }} decoding="async"{{ if gt (len $srcset) 1 }} srcset="{{ delimit $srcset ", " | safeHTMLAttr }}" sizes="(max-width: 767px) calc(100vw - 3rem), (max-width: 1279px) calc(100vw - 20rem), 900px"{{ end }}{{ if $enableImageZoom }} data-zoomable{{ end }}{{ if $lazyLoading }} loading="lazy"{{ end }} />
    <figcaption>{{ . }}</figcaption>
  </figure>
{{- else -}}
  <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" {{ $dimensions | safeHTMLAttr }} {{ $attributes | safeHTMLAttr }} decoding="async"{{ if gt (len $srcset) 1 }} srcset="{{ delimit $srcset ", " | safeHTMLAttr }}" sizes="(max-width: 767px) calc(100vw - 3rem), (max-width: 1279px) calc(100vw - 20rem), 900px"{{ end }}{{ if $enableImageZoom }} data-zoomable{{ end }}{{ if $lazyLoading }} loading="lazy"{{ end }} />
{{- end -}}
